<!DOCTYPE html>
<html>
<head>
    <title>Orderlist</title>
    <style>
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1>Orderlist</h1>
    <form action="/add_order" method="POST">
        <input type="text" name="orderInput" placeholder="Add Grocerie">
        <button type="submit">Add</button>
    </form>
    <form action="/clear_orders" method="POST">
        <button type="submit">Clear</button>
    </form>
    <ul>
        {% for order in order_list %}
        <li class="{% if order in completed_orders %}completed{% endif %}">{{ order }}</li>
        {% endfor %}
    </ul>
</body>
</html>
